{% extends 'base.html' %}

{% block content %}
 <main class="container mt-4">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h1 class="mb-4 text-center text-primary">Tareas Completadas</h1>
      <ul class="list-group">
        {% for tarea in tareas %}
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <div>
              <a href="{% url 'detalle_tarea' tarea.id %}" class="text-decoration-none text-dark fw-bold">
                {{ tarea.title }}
              </a>
              <small class="d-block text-muted">Autor: {{ tarea.user.username }}</small>
            </div>
            <span class="badge bg-success">Completada</span>
          </li>
        {% empty %}
          <li class="list-group-item text-center text-muted">No hay tareas completadas.</li>
        {% endfor %}
      </ul>
    </div>
  </div>
</main>
{% endblock %}
